<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="noah.bluetoothapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="noah.NoMoreUnicorns.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="noah.NoMoreUnicorns.Introduction"
            android:label="@string/title_activity_introduction"
            android:parentActivityName="noah.NoMoreUnicorns.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="noah.NoMoreUnicorns.MainActivity" />
        </activity>
        <activity
            android:name="noah.NoMoreUnicorns.Tut1"
            android:label="@string/title_activity_tut1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="noah.NoMoreUnicorns.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
